<%= form_with model: @note, local: true do |form| %>

  <% if @note.errors.any? %>
    <% @note.errors.full_messages.each do |msg| %>
      <div class='alert alert-danger'><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <% form.label :nickname %><br>
    <% form.text_field(:nickname,{:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_field(:message,{:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.submit(:class => 'btn btn-outline-primary btn-sm') %>
  </p>
<% end %>