<h2>Write new note</h2>
<%= render 'form' %>
<%= link_to 'Back', notes_path %>
<table>
  <tr>
    <th>Nickname</th>
    <th>Note</th>
    <th></th>
  </tr>
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.user.nickname %></td>
      <td><%= note.message %></td>
      <td><%= link_to 'Show', note_path(note) %></td>
      <td><%= link_to 'Edit', edit_note_path(note) %></td>
    </tr>
  <% end %>
</table>