<%= form_with model: @pizza, local: true  do |form| %>

  <% if @pizza.errors.any? %>
    <% @pizza.errors.full_messages.each do |msg| %>
      <div class='alert alert-danger'><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field(:description, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.text_field(:price, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :size %><br>
    <%= form.text_field(:size, {:class => 'form-control'}) %>
  <p>
    <%= form.label :is_spicy %><br>
    <%= form.text_field(:is_spicy, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :is_veg %><br>
    <%= form.text_field(:is_veg, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :best_offer %><br>
    <%= form.text_field(:best_offer, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :path_to_image %><br>
    <%= form.text_field(:path_to_image, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.submit(:class => 'btn btn-outline-primary') %>
  </p>
<% end %>