<h1>Pizzas#new</h1>
<%= render 'form' %>
<%= link_to 'Back', pizzas_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Size</th>
    <th>Is spicy?</th>
    <th>Is veg?</th>
    <th>Best offer</th>
    <th>Path to image</th>
    <th></th>
  </tr>
  <% @pizzas.each do |pizza| %>
    <tr>
      <td><%= pizza.title %></td>
      <td><%= pizza.description %></td>
      <td><%= pizza.price %></td>
      <td><%= pizza.size %></td>
      <td><%= pizza.is_spicy %></td>
      <td><%= pizza.is_veg %></td>
      <td><%= pizza.best_offer %></td>
      <td><%= pizza.path_to_image %></td>
      <td><%= link_to 'Show', pizza_path(pizza) %></td>
      <td><%= link_to 'Edit', edit_pizza_path(pizza) %></td>
  <% end %>
</table>