<%= form_with model: @order, local: true do |form| %>

  <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |msg| %>
      <div class='alert alert-danger'><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.text_field(:price, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field(:name, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field(:email, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field(:phone, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.submit(:class => 'btn btn-outline-primary') %>
  </p>
<% end %>